/* navbar=========== */
@media screen and (max-width:1200px) and (min-width:1097px) {
    .navbar-image{
        width: 50%;
    }
    .links{
        width: 50%;
    }
}
@media screen and (max-width:1096px) and (min-width:998px) {
    .navbar-image{
        width: 50%;
    }
    .links{
        width: 50%;
    }
}
@media  screen and (max-width:992px) and (min-width:786px) {
    .navbar-image{
        width: 40%;
    }
    .links{
        width: 60%;
    }
}

@media  screen and (max-width:786px) and (min-width:600px) {
    .navbar-image{
        width: 30%;
    }
    .links{
        width: 70%;
    }
}
/* ======================================================================== */
/* about==== */
@media screen and (max-width:1100px) {
    .about-sec div{
        width: 90%;
        
    }
    .about-content div{
        padding: 15px;
    }
}
/* =================================================================================== */
/* section3 */
@media screen and (max-width:1122px) and (min-width:768px) {
    .section3-content div{
        width: 90%;
    }
    .section3-image img{
        width: 70%;
        margin-left: 18%;
    }
}
@media screen and (max-width:768px) {
    .section3-content div{
        width: 90%;
    }
    .section3-image img{
        width: 90%;
        margin-left: 8%;
    }
}
/* ======================================================================================== */
/* section4 */
@media screen and (max-width:1200px) and (min-width:992px) {
    .section4-parent div{
        width: 33.3333%;
     

    }
}
@media screen and (max-width:992px) and (min-width:768px) {
    .section4-parent div{
        width: 45%;
      
    }
}
@media screen and (max-width:768px) and (min-width:600px){
    .section4-parent div{
        width:90%;
      
    }
}

@media screen and (max-width:600px) {
    .section4-parent div{
        width:100%;
      
    }
}
/* ============================================================================================ */
/* section5 */
@media screen and (max-width:1122px)  {
    .section5-content div{
        width: 90%;
    }
}
/* ================================================================================================ 
 section6 */
 @media screen and (max-width:1122px) and (min-width:768px) {
    .section6 div{
        width: 46%;
        padding: 10px;
    }
   
}
@media screen and (max-width:768px) {
    .section6 div{
        width: 90%;
    }
} 
/* ===================================================================================================== */
/* section7 */
@media screen and (max-width:1122px) and (min-width:768px) {
    .section7-image{
        width: 200px;
        
    }
   
}
@media screen and (max-width:768px) {
    .section7-image{
        width: 150px;
    }
}
